body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.todolistBlock{
    width: 500px;
    border: 3px solid black;
    border-radius: 10px;
}

.labelBlock{
    font-size: 40px;
    background-color: darkblue;
    color: whitesmoke;
    padding: 5px;
}